ansible-base==2.10.5
Babel==0.9.6
boto==2.49.0
cachetools==3.1.1
certifi==2020.12.5
cffi==1.6.0
chardet==4.0.0
configobj==4.7.2
cryptography==1.7.2
decorator==3.4.0
docker==3.7.2
docker-pycreds==0.4.0
enum34==1.0.4
futures==3.3.0
google-auth==1.24.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.10
iniparse==0.4
IPy==0.75
Jinja2==2.7.2
jmespath==0.9.4
jsonpatch==1.2
jsonpointer==1.9
kitchen==1.1.1
lxml==3.2.1
MarkupSafe==0.11
packaging==20.8
paramiko==2.1.1
ply==3.4
prettytable==0.7.2
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.14
pycurl==7.19.0
pygpgme==0.3
pyliblzma==0.5.3
pyparsing==2.4.7
pyserial==2.6
pyudev==0.15
pyxattr==0.5.1
PyYAML==3.10
requests==2.25.1
rsa==4.5
six==1.15.0
urllib3==1.26.2
websocket-client==0.56.0

